/* .w-48 {
   width: 48%;
}
*/
.receitas {
   box-shadow: -3px 0 rgb(12, 204, 12);
}

.despesas {
   box-shadow: -3px 0 rgb(215, 12, 12);
}

.saldo {
   box-shadow: -3px 0 rgb(205, 215, 12);
}

.poupanca {
   box-shadow: -3px 0 rgb(12, 103, 215);
}

* {
   box-sizing: border-box;
}

body {
   background-color: rgb(235, 235, 235)
}
/*
button {
   outline: 0;
   border: 1px solid black;
   border-radius: 4px;   
   height: 250px;
   width: 20%;
   font-size: 1.5rem;
   font-weight: bold;
} */