/* .w-48 {
   width: 48%;
}
*/
.receitas {
   box-shadow: -3px 0 rgb(12, 204, 12);
}

.despesas {
   box-shadow: -3px 0 rgb(215, 12, 12);
}

.saldo {
   box-shadow: -3px 0 rgb(205, 215, 12);
}

.poupanca {
   box-shadow: -3px 0 rgb(12, 103, 215);
}
/*
.w-60 {
   width: 60%;
}

#saidas {
   color: red;
}

#entradas {
   color: green;
}

#lucro {
   color: greenyellow;
}
*/
body {
   background-color: rgb(45, 45, 45);   
}
/*
button {
   outline: 0;
   border: 1px solid black;
   border-radius: 4px;   
   height: 250px;
   width: 20%;
   font-size: 1.5rem;
   font-weight: bold;
} */