#saidas {
   color: red;
}

#entradas {
   color: green;
}

#lucro {
   color: greenyellow;
}

body {
   background-color: rgb(219, 142, 209);
}

button {
   outline: 0;
   border: 1px solid black;
   border-radius: 4px;   
   height: 250px;
   width: 20%;
   font-size: 1.5rem;
   font-weight: bold;
}