.w-60 {
   width: 60%;
}

#saidas {
   color: red;
}

#entradas {
   color: green;
}

#lucro {
   color: greenyellow;
}

body {
   background-color: rgb(45, 45, 45);
   color: white;
}

button {
   outline: 0;
   border: 1px solid black;
   border-radius: 4px;   
   height: 250px;
   width: 20%;
   font-size: 1.5rem;
   font-weight: bold;
}